 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    background: rgb(253, 253, 253);
    border-radius: 5px;
}
.contents{
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid rgb(110, 110, 110);
    background:  #fff;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.content {
display: flex;
justify-content: space-between;
margin: 15px 50px 20px 15px;
}
.content1 {
display: flex;
justify-content: space-between;
width: 70.71%;
gap: 15px;
}
.reginput{
    width: 70%;
}
.reginput2{
    width: 30%;
}
.reginput3{
    width: 35%;
}
.field {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding: 5px;
}

label {
  display: block;  
  margin-bottom: 6px; 
  font-weight: 600;
  color: #1b1b1b;
}
label span{
    vertical-align: middle;
}
input, select{
  border: 1px solid gray;
  border-radius: 3px;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  background: rgb(249, 248, 247);
}
/* .date-hide::-webkit-datetime-edit{
    color: transparent;
} */
.theme{
    margin:0 15px;
}
.textArea{
    background: rgb(249, 248, 247);
}
.width50{
    width: 50%;
}
.content3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px 50px 20px 15px;
}
.content4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 15px 50px 20px 15px;
}
.content5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 50px 20px 15px;

}
.mb{

    margin-bottom: 20px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
    margin: 20px;
}
button{
    padding: 7px 30px;
    border: 1px solid lightblue;
    background: rgb(237, 243, 246);
    color: rgb(3, 92, 112);
    border-radius: 4px;
    cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #4CAF50;
  color: white;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}
.selected {
      background-color: #3399ff !important;
      color: white;
    }
    .notifications{
        position: fixed;
        top: 30px;
        right: 20px;
    }
    .toast{
        position: relative;
        padding: 10px;
        color: #fff;
        margin-bottom: 10px;
        width: 400px;
        display: grid;
        grid-template-columns: 70px 1fr 70px;
        border-radius: 5px;
        --color: #0abf30;
        background-image: 
            linear-gradient(
                to right, #0abf3055, #22242f 30%
            ); 
        animation: show 0.3s ease 1 forwards  
    }
    .toast i{
        color: var(--color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }
    .toast .title{
        font-size: x-large;
        font-weight: bold;
    }
    .toast span, .toast i:nth-child(3){
        color: #fff;
        opacity: 0.6;
    }
    @keyframes show{
        0%{
            transform: translateX(100%);
        }
        40%{
            transform: translateX(-5%);
        }
        80%{
            transform: translateX(0%);
        }
        100%{
            transform: translateX(-10%);
        }
    }
    .toast::before{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--color);
        width: 100%;
        height: 3px;
        content: '';
        box-shadow: 0 0 10px var(--color);
        animation: timeOut 5s linear 1 forwards
    }
    @keyframes timeOut{
        to{
            width: 0;
        }
    }
    
